.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  top: 30px;
  left: 30px;
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 30px 80px 0 0;
  font-family: "Inter";
  font-weight: 500;
}

.nav__link {
  color: #000000;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 28px 80px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__span-normal {
  display: block;
  font-family: "Inter";
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  /* These last two are here because this element was getting coverd by the image.*/
  position: relative;
  z-index: 1;
}

.header__description {
  max-width: 683px;
  margin: 0 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  margin-top: auto;
  margin-bottom: 40px;
  margin-left: 80px;
  margin-right: 80px;
  justify-content: space-between;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter";
  font-weight: 500;
  color: #838383;
}

.header__address {
  margin: auto 0 0 0;
  font-family: "Inter";
  font-weight: 500;
  color: #838383;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
}

.recipes__title {
  max-width: 580px;
  padding-top: 100px;
  margin: 0 0 24px 80px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0 0 80px 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-bottom: 215px;
}

.recipes__video-captions {
  display: flex;
  justify-content: space-between;
}

.recipes__video-caption {
  margin: 24px 0 0 0;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.reservation__section {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  margin: 0px 0px 80px 0px;
  padding-top: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form {
}

.reservation__form {
  margin-bottom: 120px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.form__label {
  margin: 0px 0px 8px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  max-width: 385px;
  margin-bottom: 32px;
  height: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
  border-color: #838383;
}

.form__button {
  border-radius: 4px;
  opacity: 100%;
  transition: opacity 0.5s linear;
  height: 60px;
  margin-bottom: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #fff;
  border: none;
}

.form__button:hover {
  opacity: 70%;
}

.form__label_align {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  margin-right: 12px;
}

input::placeholder {
  color: #838383;
}
